*{
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  background: #000;
}

/*Estilo para la parte de facturacion*/
.facturacion-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 9%;
}

.titulo {
  color: #800020; 
}

.formulario {
  margin-top: 20px;
}

.label {
  display: block;
  margin-bottom: 10px;
  color: #fff; 
}

.input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #000;
  border-radius: 4px;
  background-color: #fff;
   
}

select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #000;
  border-radius: 4px;
  background-color: #fff; 
  color: #000; 
}

select:focus {
  color: #fff;
}


.boton {
  background-color: #800020; 
  color: #fff; 
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.boton:hover {
  background-color: #6a001a;
}

